.right-side 

  .main-header
    .main-header__text
      text
      .main-header__member
        Member&nbsp;:&nbsp;name
    = link_to "edit","#", class:'main-header__btn'
  .messages
    .messages__form
      .messages__form__name
        name
      .messages__form__time
        2020/05/18(Wed) 12:32:10
    .messages__log
      完成おめでとう！！

  .chat
    %form.chat__box
      %input{type:"text", class:'chat__box__text', value:'type a message'}
      
        %label{class: "chat__box__text__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "chat__box__text__image__file"}

    = link_to "Send","#", class:'chat__send'