.message{data: {message: { id: message.id}}}
  .message__form
    .message__form__name
      = message.user.name
    .message__form__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__log
    - if message.content.present?
      %p.message__log__content
        = message.content
    = image_tag message.image.url, class: 'message__log__image' if message.image.present?
