.left.side
  .side-header
    .top-item
      .top-item__name
        name
      .top-item__icons
        = link_to "#" do
          = icon('far', 'edit')

        = link_to "#" do
          = icon('fa', 'cog fa-spin')
  .groupbox
    .groupbox-title
      techcamp
    .groupbox-log
      まだメッセージがありません
